frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/pubspec.lock
frontend/.dart_tool/package_config_subset
frontend/.dart_tool/package_config.json
frontend/.dart_tool/version
frontend/.dart_tool/dartpad/web_plugin_registrant.dart
frontend/.dart_tool/extension_discovery/vs_code.json
frontend/pubspec.lock
frontend/.metadata
frontend/analysis_options.yaml
frontend/README.md
frontend/android/.gitignore
frontend/android/build.gradle
frontend/android/gradle.properties
frontend/android/settings.gradle
frontend/android/app/build.gradle
frontend/android/app/src/debug/AndroidManifest.xml
frontend/android/app/src/main/AndroidManifest.xml
frontend/android/app/src/main/kotlin/com/uno/game/MainActivity.kt
frontend/android/app/src/main/res/drawable/launch_background.xml
frontend/android/app/src/main/res/drawable-v21/launch_background.xml
frontend/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
frontend/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
frontend/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
frontend/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
frontend/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
frontend/android/app/src/main/res/values/styles.xml
frontend/android/app/src/main/res/values-night/styles.xml
frontend/android/app/src/profile/AndroidManifest.xml
frontend/android/gradle/wrapper/gradle-wrapper.properties
frontend/test/widget_test.dart
backend/__pycache__/main.cpython-310.pyc
